body
  box-sizing: border-box
  margin: 0
  padding: 0

.header
  padding: 3rem 2rem
  .header_container
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid black
    .actions
      display: flex
      justify-content: space-between
      .btn
        border: 1px solid black
        background: white
        color: black
        padding: 4px 8px
        display: flex
        align-items: center
        justify-content: center
        text-decoration: none
        cursor: pointer
        margin-left: 10px
        margin-right: 25px
        &:disabled
          background: #d0d0d0
          cursor: not-allowed
        &:hover
          background: #e7e4e4


.add_product
  margin: 0 2rem
  #product_form
    .field_container
      display: flex
      max-width: 300px
      justify-content: space-between
      margin-top: 12px
      label
        margin-top: 6px
      input
        padding: 4px 6px
        border: 1px solid black
      .invalid
        border: 1px solid red
      select
        width: 100%
        padding: 4px 6px
        border: 1px solid black
      p
        margin-top: 3px
        height: 15px
        color: red
        font-size: 14px
        min-width: 160px


.product-container
  margin: 0 2rem
  .product-grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    gap: 20px
  .product-item
    border: 1px solid #ccc
    padding: 40px
    text-align: center
    position: relative

    label
      cursor: pointer
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0

    .delete-checkbox
      position: absolute
      top: 1rem
      left: 1rem

.popup-message
  position: fixed
  bottom: 20px
  right: -100%
  background-color: #ffffff
  border: 1px solid #ccc
  padding: 10px 20px
  border-radius: 10px
  animation: notification 0.5s forwards
  animation-delay: 0s

.close-notification
  animation: closeNotification 2s forwards

.error
  background: rgb(235, 192, 190)
  color: rgb(170, 40, 20)
  border: solid 0.5px rgb(170, 40, 20)

.success
  background: rgb(217, 240, 210)
  color: rgb(76, 100, 72)
  border: solid 0.5px rgb(76, 100, 72)

@keyframes notification
  from
    right: -100%
  to
    right: 20px

@keyframes closeNotification
  from
    right: 20px
  to
    right: -100%

@media screen and (max-width: 768px)
  .product-grid
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))

@media screen and (max-width: 480px)
  .product-grid
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr))
  .product-item
    border: 1px solid #ccc
    padding: 20px
    text-align: center